<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <listeners>
        <listener class-name="utils.extentreports.listeners.TestListener"/>
        
    </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.extentreports.tests.LogintTest"/>
       <class name="com.extentreports.tests.BasetTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
